@import "./global.css";
@import "./navbar.css";

.backdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.backdrop__img {
  width: 100%;
  animation: backdrop-fadein 0.8s ease-in normal both;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}

.details {
  position: relative;
  top: 30vh;
}

.details__poster {
  position: absolute;
  left: 3.3%;
  width: 25vw;
  z-index: 3;
}

.details__poster__img {
  width: 100%;
  height: 100%;
}

.details__primary {
  padding-left: 30vw;
}

.details__primary__info {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
}

.details__primary__info .infoRating {
  padding: 0.2em 0.5em;
  border: 2px solid var(--border-secondary);
}

.details__secondary {
  padding-top: 2em;
  padding-left: 30vw;
  padding-bottom: 2em;
}

@keyframes backdrop-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.1;
  }
}
