@import "./global.css";
@import "./navbar.css";
@import "./card.css";

.container {
  max-width: 100vw;
  padding-top: 6em;
  margin: 0 auto;
}

#noContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 1em;
  font-size: 2em;
}

#noContent h2 {
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 0.6em;
}

#noContent p {
  color: var(--text-secondary);
  margin-bottom: 1em;
}

.list-horizontal-wrapper {
  padding-left: 3.3vw;
}

.list-horizontal {
  display: flex;
  flex-direction: row;
  gap: 1.2em;
}

.list-name {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}
