# postgres

POSTGRES_USER="johndoe"
POSTGRES_PASSWORD="randompassword"
POSTGRES_DB="mydb"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# backend

BCRYPT_SALT=10
JWT_SECRET="your_jwt_secret_key"
JWT_EXPIRES_IN="1h"
PORT=3000
AWS_REGION="us-east-1"
S3_ENDPOINT="http://localhost:9000"
BUCKET_NAME="streamwave-bucket"

# minio

MINIO_ROOT_USER="minioadmin"
MINIO_ROOT_PASSWORD="minioadminpassword"
MINIO_PORT="9000"
MINIO_WEB_UI_PORT="9001"

# Vite

VITE_API_ENDPOINT=http://localhost:3000/api/v1