:root {
  --bs-primary: #8a2be2;
  /* Purple instead of blue */
  --bs-secondary: #6c757d;
  /* Keep or change secondary */
  --bs-success: #198754;
  /* Green */
  --bs-info: #0dcaf0;
  /* Cyan */
  --bs-warning: #ffc107;
  /* Yellow */
  --bs-danger: #dc3545;
  /* Red */
  --bs-light: #f8f9fa;
  /* Light gray */
  --bs-dark: #212529;
  /* Dark gray */
}

body {
  height: 100vh;
  font-size: 1.2em;
}

.navbar {
  background-color: #212529;
}

.navbar a {
  color: white;
  cursor: pointer;
}

.navbar img {
  width: 3em;
}

.navbar navbar-toggler i {
  background: red !important;
  color: red !important;
}

.form-text button {
  width: 100%;
}

#content aside {
  width: 15vw;
}

#content main {
  background-color: #000;
}
